html{
    font-size:125%;
    scroll-behavior: smooth;
}

.wrapper{
    max-width:1280px;
    margin:0 auto;
    width:80%;
}

::placeholder{
    font-family:$sansSerifFont;
    font-size:0.8rem;
    color:rgba($color:$grey, $alpha:0.7);
}
