header{
    height:100vh;
    display:flex;

    .wrapper{
        max-width:none !important;
        width:100%;
        margin:0 auto;
        display:flex;
    }

    .headerRight {
        background-color:$offWhite;
        display:flex;
        flex-direction:column;
        align-items:left;
        height:100vh;
        width:85%;
        margin-left:auto;
    }

    .introDiv{
        margin:auto 10%;
        animation:fadeUp 2s forwards;
    }
    

    // mouse scrolling image 
    .scrollIcon{
        position: relative;
        width:100px;
        height:100px;
        display:flex;
        margin:0 10%;
        flex-direction:column;

        .mouseImage{
            position: absolute;
            width:40px;
            height:60px;
            left:15px;
            top:-40px;
            border:2px $black solid;
            border-radius:40px;
            z-index:10;

            &::after{
                content:'';
                position: absolute;
                height:15px;
                width:2px;
                background-color:$purple;
                left:17.5px;
                border-radius:10px;
                top:8px;
                animation:scrollDown 2s infinite;
            }
        }
        
        .circleBackground{
            position: absolute;
            height:60px;
            width:60px;
            left:4px;
            border-radius:50%;
            background-color:rgba($color:$purple, $alpha:0.3);
            animation:none;
        }
    }
}

// NAV BAR

nav{
    position: fixed;
    height:100vh;
    width:15%;
    background-color:$white;
    border-right: 1px rgba($color:$purple, $alpha:0.3) solid;
    
    .wrapper{
        display:flex;
        align-items:center;
        justify-content: space-around;
        flex-direction:column;
        width:100%;
        height:100vh;

        ul{
            display:flex;
            flex-direction:column;
            justify-content:space-evenly;
            height:50%;
            width:80%;
            padding:0;
            list-style:none;

            li{
                position: relative;
                width:100%;
                transition:0.3s all;
            }

            a{
                color:$black;
                text-decoration:none;
                font-family:$serifFont;
                transition:0.3s all;

                &::before{
                    position: absolute;
                    content:'';
                    left:-10px;
                    bottom:0px;
                    width:0px;
                    height:1px;
                    background-color:$purple;
                    transition:0.3s color, 0.4s width;
                }

                &:hover, &:focus{
                    color:$purple;
                    padding-left:40px;
    
                    &::before{
                        // margin-left:50px;
                        // animation: slideIn 0.5s forwards;
                        width:40px;
                    }
                        
                }
    
            }
        }

        // NAV 'FOOTER'
        .navFooter{
            a{
                text-decoration:none;
                color:rgba($color:$purple, $alpha:0.7);
                transition:color 0.3s;

                &:focus, &:hover{
                    color:$purple;
                }
            }
        }

    }
}


.skipLink{
    display:none;
}

.socialLinks{
    position: absolute;
    right:0;
    top:0;
    display:flex;
    justify-content:right;
    ul{
        list-style:none;
        padding:0;
    }
    li{
        margin:20px 20px;
    }
    a{
        text-decoration:none;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:rgba($color:$purple, $alpha:0.07);
        border-radius:50%;
        width:70px;
        height:70px;
        color:$grey;
        transition: background-color 0.3s, color 0.3s;

        &:hover, &:focus{
            background-color:rgba($color:$purple, $alpha:0.4);
            color:$white;
        }
    }
}



