header{
    height:100vh;
    display:flex;

    .wrapper{
        max-width:none !important;
        width:100%;
        margin:0 auto;
        display:flex;
    }

    .headerRight{
        background-color:$offWhite;
        position: absolute;
        display:flex;
        justify-content:flex-end;
        flex-direction:column;
        // align-items:left;
        right:0;
        height:100vh;
        width:85%;
    }

    .introDiv{
        // margin:auto 200px;
    }

    // mouse scrolling image 
    .scrollIcon{
        position: relative;
        width:100px;
        height:100px;
        display:flex;
        // margin: auto 200px;
        flex-direction:column;

        .mouseImage{
            position: absolute;
            width:40px;
            height:60px;
            left:15px;
            top:-40px;
            border:2px $black solid;
            border-radius:40px;
            animation:scrollDown 1s infinite;
            z-index:10;
            &::after{
                content:'';
                position: absolute;
                height:20px;
                width:2px;
                background-color:$purple;
                left:17.5px;
                border-radius:10px;
                top:8px;
            }
        }
        
        .circleBackground{
            position: absolute;
            height:60px;
            width:60px;
            left:4px;
            border-radius:50%;
            background-color:rgba($color:$purple, $alpha:0.3);
            animation:none;
        }
    }
}

// NAV BAR

nav{
    position: fixed;
    height:100vh;
    width:15%;
    background-color:$white;
    border-right: 1px rgba($color:$purple, $alpha:0.3) solid;
    
    .wrapper{
        display:flex;
        flex-direction:column;
        width:80%;

        ul{
            margin-top:60%;
            padding:0;
            list-style:none;
        }
    
        li{
            margin:50px 10px;
        }
        
        a{
            color:$black;
            text-decoration:none;
            font-family:$serifFont;
            transition:0.3s all;
            position: relative;

            &::before{
                // display:block;
                position: absolute;
                content:'';
                left:-50px;
                bottom:0;
                width:0px;
                height:1px;
                background-color:$purple;
                transition:width 0.3s;
            }

            &:hover, &:focus{
                color:$purple;
                margin-left:30px;

                &::before{
                    width:40px;
                }
            }


        }
    }


}


.skipLink{
    display:none;
}

.socialLinks{
    position: absolute;
    right:0;
    top:0;
    display:flex;
    justify-content:right;
    ul{
        list-style:none;
        padding:0;
    }
    li{
        margin:20px 20px;
    }
    a{
        text-decoration:none;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:rgba($color:$purple, $alpha:0.07);
        border-radius:50%;
        width:70px;
        height:70px;
        color:$grey;
        transition: background-color 0.3s, color 0.3s;

        &:hover, &:focus{
            background-color:rgba($color:$purple, $alpha:0.3);
            color:$black;
        }
    }
}



