

// ABOUT SECTION
.about{
    width:85%;
    margin-left:auto;

    .wrapper{
        display:flex;
        flex-direction:column;
        width:100%;
        max-width:none;
    }

    .aboutMe, .toolKit{
        display:flex;
        flex-basis:50%;

    }

    .aboutMeLeftDiv, .aboutMeRightDiv{
        flex-basis:50%;
        position: relative;
    }

    .aboutMeRightDiv{
        margin:40px;
    }

}

// TOOLKIT SECTION
.toolKit{
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color:$offWhite;

    .toolKitContainer{
        ul{
            padding:0;
            display:grid;
            justify-content:center;
            align-content:center;
            width:60%;
            margin:0 auto 100px;
            grid-template-columns:repeat(5, 1fr);
            grid-template-rows:repeat(2, 1fr);
        }
    
        li{
            display:flex;
            flex-direction:column;
            align-content:center;
            justify-content:flex-end;
            width:100px;
            margin: 20px auto;
        }
    
        p{
            margin:0;
        }
        
        img{
            width:100%;
        }
    }
}

// PORTFOLIO SECTION

.portfolio{
    padding-top:40px;
    width:85%;
    margin-left:auto;

}
.displayPortfolio{

    ul{
        display:flex;
        flex-direction:column;
        // grid-template-columns:repeat(3, 1fr);
        // grid-template-rows:repeat(2, 1fr);
        // gap:50px;
        list-style:none;
        padding:0;
    }
}


.portfolioLi{
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius:10px;
    margin-bottom:30px;

    .portfolioContainer{
        height:100px;
        display:flex;
        height:max-content;
        border-radius:10px;
        position: relative;
    }

    .portfolioTool{
        position: absolute;
        left:-10px;
        top:20px;

        p{
            margin:0;
            padding:0 10px;
            margin-bottom:10px;
            background-color:$grey;
            color:$white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        }

    }

    .projectImage{
        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
        flex-basis:30%;
        overflow:hidden;

        &:hover, &:focus{
            img{
                transform:scale(1.2);
            }
        }
    }
    
    .projectText{
        flex-basis:70%;

        h3, p{
            padding:20px;
        }
    }

    .projectLinks{
        width:50%;
        margin:0 auto;
        display:flex;
        padding:20px;
        justify-content: space-evenly;
        a{
            font-family:$sansSerifFont;
            background-color:$purple;
            text-decoration:none;
            color:$white;
            padding:5px 10px;
            border-radius:5px;
            transition: background-color 0.3s;      
            
            &:hover, &:focus{
                background-color:maroon;
            }
        }
    }
    img{
        transition:transform 1s;
        width:100%;
    }

}



// PORTFOLIO IMAGE COLOURS 
.portfolioLi:nth-child(1) .projectImage {
    background-color:lightcoral;
}
.portfolioLi:nth-child(2) .projectImage {
    background-color:lightblue;
}
.portfolioLi:nth-child(3) .projectImage {
    background-color:mediumaquamarine;
}
.portfolioLi:nth-child(4) .projectImage {
    background-color:plum;
}
.portfolioLi:nth-child(5) .projectImage {
    background-color:palegoldenrod;
}
.portfolioLi:nth-child(6) .projectImage {
    background-color:lightsalmon;
}

// CONTACT PAGE

.contact{
    width:85%;
    margin-left:auto;
    padding:30px 0;
    background-color:$black;

    .contactHeader{
        display:flex;
        justify-content: space-between;
        border-bottom:1px rgba($color:$white, $alpha:0.2) solid;
    }
    
    .contactSocial {
        display:flex;
        flex-basis:30%;

        ul{
            display:flex;
            list-style:none;
            width:100%;
            padding:0;
            justify-content:space-evenly;
            align-items: center;
        }

        a{
            text-decoration:none;
            color:$white;
            font-size:1.5rem;
            transition: color 0.3s;

            &:hover, &:focus{
                color:$purple;
            }
        }
    }

    .contactForm{

        display:flex;

        form{
            display:flex;
            flex-direction:column;
            flex-basis:60%;
        }

        label{
            font-family:$sansSerifFont;
            color:$white;
            font-size:0.8rem;
            margin-bottom:20px;
        }

        // FIELDSET STYLINGS 
        fieldset{
            display:flex;
            padding:0;
            flex-wrap:wrap;
            border:none;
        }

        ul{
            display:flex;
            flex-wrap:wrap;
            list-style:none;
            width:100%;
            padding:0;

            li{
                flex-basis:50%;
                display:flex;
                flex-direction:column;
                // padding:10px;
            }

            label{
                margin:20px 0;
            }

            input{
                padding:10px;
                background-color:$black;
                border:1px rgba($color:$white, $alpha:0.2) solid;
                border-radius:5px;
                font-size:0.9rem;
                color:$white;
                width:90%;
            }
        }

        .submitButton{
            font-family:$sansSerifFont;
            background-color:$purple;
            border:none;
            margin:30px 0;
            padding:20px;
            border-radius:5px;
            width:40%;
            color:$white;
            font-weight:bold;
            transition: background-color 0.3s;

            &:hover, &:focus{
                background-color:maroon;

            }
        }


        .messageInput{
            resize:none;
            padding:10px;
            background-color:$black;
            border:1px rgba($color:$white, $alpha:0.2) solid;
            border-radius:5px;
            color:$white;
        }

        .contactInfo{
            flex-basis:40%;
            padding:0 20px;

            h3{
                font-family:$serifFont;
                color:$white;
                font-weight:normal;
                margin:40px 0;

            }

            p{
                font-size:0.8rem;
                color:$white;

            }
        }
    }

    .contactForm ul li:nth-child(2) input, .contactForm ul li:nth-child(2) label {
        margin-left:20px;
    }
    
    .contactForm ul li:nth-child(4) input, .contactForm ul li:nth-child(4) label{
        margin-left:20px;
    }

}

// FOOTER

footer {
    display:none;
}