// ABOUT SECTION
.about{
    width:85%;
    margin-left:auto;

    .wrapper{
        display:flex;
        flex-direction:column;
        width:100%;
        max-width:none;
    }

    .aboutMe, .toolKit{
        display:flex;
        flex-basis:50%;

    }

    .aboutMeLeftDiv, .aboutMeRightDiv{
        flex-basis:50%;
        position: relative;
    }

    .aboutMeRightDiv{
        margin:40px;
    }

}

// TOOLKIT SECTION
.toolKit{
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color:$offWhite;

    .toolKitContainer{
        border:2px red solid;
        ul{
            border:2px red solid;
            padding:0;
            display:grid;
            justify-content:center;
            align-content:center;
            width:60%;
            margin:0 auto 100px;
            grid-template-columns:repeat(5, 1fr);
            grid-template-rows:repeat(2, 1fr);
        }
    
        li{
            display:flex;
            border:2px red solid;
            flex-direction:column;
            align-content:center;
            justify-content:flex-end;
            width:100px;
            margin: 20px auto;
        }
    
        p{
            margin:0;
        }
        
        img{
            width:100%;
        }
    }
}

// PORTFOLIO SECTION

.portfolio{
    width:85%;
    margin-left:auto;
}



