// Playfair Regular
@font-face{
    font-family:'Playfair Display';
    src:url('../../../fonts/PlayfairDisplay-Regular.ttf');
    font-weight:normal;
}

// Playfair Black
// @font-face{
//     font-family:'Playfair Display';
//     src:url('../fonts/PlayfairDisplay-Black.ttf');
//     font-weight:normal;
// }

// Playfair Bold
@font-face{
    font-family:'Playfair Display';
    src:url('../fonts/PlayfairDisplay-Bold.ttf');
    font-weight:bold;
}

// Inter
@font-face{
    font-family:'Inter';
    src:url('../../../fonts/Inter-Regular.ttf');
    font-weight:normal;
}

// FONT STYLES

// HEADER DIV
h1{
    font-family:$sansSerifFont;
    color:$purple;
    letter-spacing:1px;
    // font-size:32px;
    font-size:clamp(1rem, 2vw, 1.6rem);
}

.boldName{
    display:block;
    font-family:$serifFont;
    color:$black; 
    // font-size:80px;
    font-size:clamp(1.5rem, 4vw, 4rem);
}

.greyText{
    color:$grey;
}

// NAV BAR
nav a {
    font-size:1rem;
}

// NAV FOOTER

.navFooter {
    text-align: center;

    p {
        font-family:$serifFont;
        font-size:0.8rem;
    }

    a{
        font-size:0.8rem;
    }
}

// SECTION HEADERS
h2{
    font-size:clamp(1rem, 2vw, 1.4rem);
    font-family:$serifFont;
    color:$black;
}

// PARAGRAPHS
p{
    font-family:$sansSerifFont;
    font-size:clamp(0.8rem, 2vw, 0.9rem);
    color:$grey;
    line-height:1.6rem;
}

// ABOUT ME

section h2{
    font-size:clamp(2rem, 4vw, 3rem);
    font-weight:normal;
}


// PORTFOLIO

.projectText h3{
    font-family:$serifFont;
    font-weight:normal;
}

// CONTACT 
.contact h2{
    color:$white;
}