html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: rgba(129, 138, 163, 0.7);
}

::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: rgba(129, 138, 163, 0.7);
}

:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: rgba(129, 138, 163, 0.7);
}

::-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: rgba(129, 138, 163, 0.7);
}

::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: rgba(129, 138, 163, 0.7);
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes fadeUp {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeUp {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 40px;
  }
}
@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 40px;
  }
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../../fonts/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("../../../fonts/Inter-Regular.ttf");
  font-weight: normal;
}
h1 {
  font-family: "Inter", sans-serif;
  color: #A23B72;
  letter-spacing: 1px;
  font-size: clamp(1rem, 2vw, 1.6rem);
}

.boldName {
  display: block;
  font-family: "Playfair Display", serif;
  color: #202020;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

.greyText {
  color: #818AA3;
}

nav a {
  font-size: 1rem;
}

.navFooter {
  text-align: center;
}
.navFooter p {
  font-family: "Playfair Display", serif;
  font-size: 0.8rem;
}
.navFooter a {
  font-size: 0.8rem;
}

h2 {
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-family: "Playfair Display", serif;
  color: #202020;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  color: #818AA3;
  line-height: 1.6rem;
}

section h2 {
  position: relative;
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: normal;
}

.projectText h3 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.contact h2 {
  color: #FFF;
}

.aboutMeRightDiv h2::before {
  position: absolute;
  content: "Who Are You?";
  font-family: "Inter", sans-serif;
  top: -20px;
  font-size: 0.35em;
  color: #A23B72;
  text-transform: uppercase;
}

.portfolio .wrapper h2::before {
  position: absolute;
  content: "What have you made?";
  font-family: "Inter", sans-serif;
  top: -20px;
  font-size: 0.35em;
  color: #A23B72;
  text-transform: uppercase;
}

.contactHeader h2::before {
  position: absolute;
  content: "how can i contact you?";
  font-family: "Inter", sans-serif;
  top: -20px;
  font-size: 0.35em;
  color: #A23B72;
  text-transform: uppercase;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .wrapper {
  max-width: none !important;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerRight {
  background-image: url("./../assets/background.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom 20px right 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  height: 100vh;
  width: 85%;
  margin-left: auto;
  position: relative;
}
header .headerRight::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.7);
}
header .introDiv {
  margin: auto 10%;
  z-index: 10;
}
header .scrollIcon {
  position: relative;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .scrollIcon .mouseImage {
  position: absolute;
  width: 40px;
  height: 60px;
  left: 15px;
  top: -40px;
  border: 2px #202020 solid;
  border-radius: 40px;
  z-index: 10;
}
header .scrollIcon .mouseImage::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 2px;
  background-color: #A23B72;
  left: 17.5px;
  border-radius: 10px;
  top: 8px;
  -webkit-animation: scrollDown 2s infinite;
          animation: scrollDown 2s infinite;
}
header .scrollIcon .circleBackground {
  position: absolute;
  height: 60px;
  width: 60px;
  left: 4px;
  border-radius: 50%;
  background-color: rgba(162, 59, 114, 0.3);
  -webkit-animation: none;
          animation: none;
}

nav {
  position: fixed;
  height: 100vh;
  width: 15%;
  background-color: #FFF;
  border-right: 1px rgba(162, 59, 114, 0.3) solid;
}
nav .hamburgerMenu {
  display: none;
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}
nav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50%;
  width: 80%;
  padding: 0;
  list-style: none;
}
nav .wrapper ul li {
  position: relative;
  width: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
nav .wrapper ul a {
  color: #202020;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
nav .wrapper ul a::before {
  position: absolute;
  content: "";
  left: -10px;
  bottom: 0px;
  width: 0px;
  height: 1px;
  background-color: #A23B72;
  -webkit-transition: 0.3s color, 0.4s width;
  transition: 0.3s color, 0.4s width;
}
nav .wrapper ul a:hover, nav .wrapper ul a:focus, nav .wrapper ul a .active {
  color: #A23B72;
  padding-left: 40px;
}
nav .wrapper ul a:hover::before, nav .wrapper ul a:focus::before, nav .wrapper ul a .active::before {
  width: 40px;
}
nav .wrapper ul .active {
  color: #A23B72;
  padding-left: 40px;
}
nav .wrapper ul .active::before {
  width: 40px;
}
nav .wrapper .navFooter a {
  text-decoration: none;
  color: rgba(162, 59, 114, 0.7);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
nav .wrapper .navFooter a:focus, nav .wrapper .navFooter a:hover {
  color: #A23B72;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: #FFF;
  color: #202020;
  z-index: 40;
}
.skipLink:focus {
  left: 0;
}

.socialLinks {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  z-index: 10;
}
.socialLinks ul {
  list-style: none;
  padding: 0;
}
.socialLinks li {
  margin: 20px 20px;
}
.socialLinks a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(162, 59, 114, 0.1);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #818AA3;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.socialLinks a:hover, .socialLinks a:focus {
  background-color: rgba(162, 59, 114, 0.4);
  color: #FFF;
}

.scrollToTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 2rem;
  z-index: 100;
  background-color: rgba(162, 59, 114, 0.4);
  width: 60px;
  height: 60px;
  color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.scrollToTop i {
  margin: auto;
}
.scrollToTop:hover, .scrollToTop:focus {
  color: #FFF;
  background-color: #A23B72;
}
.scrollToTop.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  width: 85%;
  margin-left: auto;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: none;
}
.about .aboutMe, .about .toolKit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.about .toolKit {
  padding-bottom: 40px;
}
.about .aboutMeLeftDiv, .about .aboutMeRightDiv {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}
.about .aboutMeRightDiv {
  margin: 0px auto;
  padding: 40px 0;
}

.toolKit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #FAFAFA;
}
.toolKit .toolKitContainer ul {
  padding: 0;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 60%;
  margin: 0 auto 100px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.toolKit .toolKitContainer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100px;
  margin: 20px auto;
}
.toolKit .toolKitContainer p {
  margin: 0;
}
.toolKit .toolKitContainer img {
  width: 100%;
}

.portfolio {
  padding-top: 40px;
  width: 85%;
  margin-left: auto;
}

.displayPortfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
}

.portfolioLi {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.portfolioLi .portfolioContainer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  position: relative;
}
.portfolioLi .portfolioTool {
  position: absolute;
  left: -10px;
  top: 20px;
}
.portfolioLi .portfolioTool p {
  margin: 0;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: #818AA3;
  color: #FFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.portfolioLi .projectImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  overflow: hidden;
}
.portfolioLi .projectImage:hover img, .portfolioLi .projectImage:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.portfolioLi .projectText {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.portfolioLi .projectText h3, .portfolioLi .projectText p {
  padding: 20px;
}
.portfolioLi .projectLinks {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.portfolioLi .projectLinks a {
  font-family: "Inter", sans-serif;
  background-color: #A23B72;
  text-decoration: none;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.portfolioLi .projectLinks a:hover, .portfolioLi .projectLinks a:focus {
  background-color: maroon;
}
.portfolioLi img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 100%;
}

.portfolioLi:nth-child(1) .projectImage {
  background-color: lightcoral;
}

.portfolioLi:nth-child(2) .projectImage {
  background-color: lightblue;
}

.portfolioLi:nth-child(3) .projectImage {
  background-color: mediumaquamarine;
}

.portfolioLi:nth-child(4) .projectImage {
  background-color: plum;
}

.portfolioLi:nth-child(5) .projectImage {
  background-color: palegoldenrod;
}

.portfolioLi:nth-child(6) .projectImage {
  background-color: lightsalmon;
}

.contact {
  width: 85%;
  margin-left: auto;
  padding: 30px 0;
  background-color: #202020;
}
.contact .contactHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}
.contact .contactSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.contact .contactSocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .contactSocial a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.contact .contactSocial a:hover, .contact .contactSocial a:focus {
  color: #A23B72;
}
.contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.contact .contactForm label {
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.contact .contactForm fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
}
.contact .contactForm ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 100%;
  padding: 0;
}
.contact .contactForm ul li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .contactForm ul label {
  margin: 20px 0;
}
.contact .contactForm ul input {
  padding: 10px;
  background-color: #202020;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #FFF;
  width: 90%;
}
.contact .contactForm .submitButton {
  font-family: "Inter", sans-serif;
  background-color: #A23B72;
  border: none;
  margin: 30px 0;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  color: #FFF;
  font-weight: bold;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.contact .contactForm .submitButton:hover, .contact .contactForm .submitButton:focus {
  background-color: maroon;
}
.contact .contactForm .messageInput {
  resize: none;
  padding: 10px;
  background-color: #202020;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 5px;
  color: #FFF;
}
.contact .contactForm .contactInfo {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 0 20px;
}
.contact .contactForm .contactInfo h3 {
  font-family: "Playfair Display", serif;
  color: #FFF;
  font-weight: normal;
  margin: 40px 0;
}
.contact .contactForm .contactInfo p {
  font-size: 0.8rem;
  color: #FFF;
}
.contact .contactForm ul li:nth-child(2) input, .contact .contactForm ul li:nth-child(2) label {
  margin-left: 20px;
}
.contact .contactForm ul li:nth-child(4) input, .contact .contactForm ul li:nth-child(4) label {
  margin-left: 20px;
}

footer {
  display: none;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
}
.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

@media (max-width: 1000px) {
  .portfolioLi .projectImage {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .portfolioLi .projectText {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .portfolioLi .projectLinks {
    width: 100%;
  }
  .scrollToTop {
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 810px) {
  header .headerRight {
    width: 100%;
    margin-left: 0;
  }
  header .scrollIcon {
    margin-left: auto;
  }
  nav {
    width: 100%;
    height: 10vh;
    background-color: #FFF;
    z-index: 20;
  }
  nav.active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  nav .wrapper {
    height: 10vh !important;
    width: 100%;
  }
  nav .wrapper ul {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    position: absolute;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    top: 10vh;
    left: 0;
    background-color: #FFF;
    width: 50%;
    margin: 0;
    height: 90vh;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  nav .wrapper ul li {
    text-align: center;
  }
  nav .wrapper ul a {
    padding: 0;
  }
  nav .wrapper ul a::before {
    display: none;
  }
  nav .wrapper ul a:hover, nav .wrapper ul a:focus {
    padding: 0;
  }
  nav .wrapper ul a.active {
    padding: 0;
  }
  nav .wrapper ul.active {
    -webkit-transform: translateX(0px) !important;
            transform: translateX(0px) !important;
  }
  nav .hamburgerMenu {
    cursor: pointer;
    display: block;
    font-size: 2rem;
    position: absolute;
    top: 55%;
    height: 10px;
    width: 10px;
    right: 10%;
    color: #202020;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  nav .hamburgerMenu:hover .lineOne::before, nav .hamburgerMenu:hover .lineTwo::before, nav .hamburgerMenu:hover .lineThree::before, nav .hamburgerMenu:focus .lineOne::before, nav .hamburgerMenu:focus .lineTwo::before, nav .hamburgerMenu:focus .lineThree::before {
    background-color: #A23B72;
  }
  nav .hamburgerMenu .lineOne::before, nav .hamburgerMenu .lineTwo::before, nav .hamburgerMenu .lineThree::before {
    position: absolute;
    content: "";
    width: 30px;
    background-color: #202020;
    height: 3px;
    border-radius: 10px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  nav .hamburgerMenu .lineTwo::before {
    top: -10px;
  }
  nav .hamburgerMenu .lineThree::before {
    top: -20px;
  }
  nav .hamburgerMenu.active .lineOne::before {
    opacity: 0;
  }
  nav .hamburgerMenu.active .lineTwo::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  nav .hamburgerMenu.active .lineThree::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -10px;
  }
  .socialLinks {
    top: 30%;
  }
  .navFooter {
    display: none;
  }
  .about, .portfolio, .contact {
    width: 100%;
  }
  .toolKit .toolKitContainer ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
  }
  .toolKit .toolKitContainer li {
    width: 80px;
  }
  .portfolioLi .portfolioContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolioLi .projectImage {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .contact .contactForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact .contactForm ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contactForm ul li {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  .contact .contactForm ul li:nth-child(2) input, .contact .contactForm ul li:nth-child(2) label, .contact .contactForm ul li:nth-child(4) input, .contact .contactForm ul li:nth-child(4) label {
    margin-left: 0;
  }
  .contact .contactForm ul input {
    width: 100%;
  }
  .contact .contactForm .messageInput {
    width: 100%;
  }
  .contact .contactForm .contactInfo {
    padding: 0;
  }
  .contact .contactForm .submitButton {
    margin: 30px auto;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #202020;
    border-top: 1px rgba(129, 138, 163, 0.5) solid;
    padding: 20px 0;
  }
  footer p {
    font-family: "Playfair Display", serif;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .greyText {
    display: block;
  }
  .about .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contactHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contactSocial ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .contactForm ul input {
    width: 100%;
  }
  .scrollToTop {
    right: 20px;
    bottom: 20px;
  }
}
@media (max-width: 500px) {
  nav .wrapper ul {
    width: 70%;
  }
}