html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../../fonts/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("../../../fonts/Inter-Regular.ttf");
  font-weight: normal;
}
h1 {
  font-family: "Inter", sans-serif;
  color: #A23B72;
  letter-spacing: 1px;
  font-size: clamp(1rem, 2vw, 1.6rem);
}

.boldName {
  display: block;
  font-family: "Playfair Display", serif;
  color: #202020;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

.greyText {
  color: #818AA3;
}

nav a {
  font-size: 1rem;
}

h2 {
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-family: "Playfair Display", serif;
  color: #202020;
}

p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  color: #818AA3;
  line-height: 1.6rem;
}

section h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: normal;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .wrapper {
  max-width: none !important;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerRight {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  height: 100vh;
  width: 85%;
  margin-left: auto;
}
header .introDiv {
  margin: auto 10%;
}
header .scrollIcon {
  position: relative;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .scrollIcon .mouseImage {
  position: absolute;
  width: 40px;
  height: 60px;
  left: 15px;
  top: -40px;
  border: 2px #202020 solid;
  border-radius: 40px;
  z-index: 10;
}
header .scrollIcon .mouseImage::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 2px;
  background-color: #A23B72;
  left: 17.5px;
  border-radius: 10px;
  top: 8px;
  -webkit-animation: scrollDown 2s infinite;
          animation: scrollDown 2s infinite;
}
header .scrollIcon .circleBackground {
  position: absolute;
  height: 60px;
  width: 60px;
  left: 4px;
  border-radius: 50%;
  background-color: rgba(162, 59, 114, 0.3);
  -webkit-animation: none;
          animation: none;
}

nav {
  position: fixed;
  height: 100vh;
  width: 15%;
  background-color: #FFF;
  border-right: 1px rgba(162, 59, 114, 0.3) solid;
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100vh;
}
nav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50%;
  width: 80%;
  padding: 0;
  list-style: none;
}
nav .wrapper ul a {
  color: #202020;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
}
nav .wrapper ul a::before {
  position: absolute;
  content: "";
  left: -50px;
  bottom: 0;
  width: 0px;
  height: 1px;
  background-color: #A23B72;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
nav .wrapper ul a:hover, nav .wrapper ul a:focus {
  color: #A23B72;
  margin-left: 30px;
}
nav .wrapper ul a:hover::before, nav .wrapper ul a:focus::before {
  width: 40px;
}
nav .wrapper .navFooter a {
  text-decoration: none;
  color: rgba(162, 59, 114, 0.7);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
nav .wrapper .navFooter a:focus, nav .wrapper .navFooter a:hover {
  color: #A23B72;
}

.skipLink {
  display: none;
}

.socialLinks {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.socialLinks ul {
  list-style: none;
  padding: 0;
}
.socialLinks li {
  margin: 20px 20px;
}
.socialLinks a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(162, 59, 114, 0.07);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #818AA3;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.socialLinks a:hover, .socialLinks a:focus {
  background-color: rgba(162, 59, 114, 0.4);
  color: #FFF;
}

.about {
  width: 85%;
  margin-left: auto;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: none;
}
.about .aboutMe, .about .toolKit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.about .aboutMeLeftDiv, .about .aboutMeRightDiv {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}
.about .aboutMeRightDiv {
  margin: 40px;
}

.toolKit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #FAFAFA;
}

.toolKitContainer ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}
.toolKitContainer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100px;
  margin: 20px;
}
.toolKitContainer p {
  margin: 0;
}
.toolKitContainer img {
  width: 100%;
}