html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../../fonts/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("../../../fonts/Inter-Regular.ttf");
  font-weight: normal;
}
h1 {
  font-family: "Inter", sans-serif;
  color: #A23B72;
  font-size: 1.6rem;
}

.boldName {
  display: block;
  font-family: "Playfair Display", serif;
  color: #202020;
  font-size: 2.3rem;
}

.greyText {
  color: #818AA3;
}

nav a {
  font-size: 1rem;
}

h2 {
  font-family: "Playfair Display", serif;
  color: #202020;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .wrapper {
  max-width: none !important;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerRight {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 85%;
}

nav {
  position: fixed;
  height: 100vh;
  width: 15%;
  background-color: #FFF;
  border-right: 1px rgba(162, 59, 114, 0.3) solid;
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}
nav .wrapper ul {
  margin-top: 60%;
  padding: 0;
  list-style: none;
}
nav .wrapper li {
  margin: 50px 10px;
}
nav .wrapper a {
  color: #202020;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
nav .wrapper a:hover, nav .wrapper a:focus {
  color: #A23B72;
  margin-left: 30px;
}
nav .wrapper a:hover:before, nav .wrapper a:focus:before {
  width: 20px;
}

.skipLink {
  display: none;
}

.socialLinks {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.socialLinks ul {
  list-style: none;
  padding: 0;
}
.socialLinks li {
  margin: 20px 20px;
}
.socialLinks a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(162, 59, 114, 0.07);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #818AA3;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.socialLinks a:hover, .socialLinks a:focus {
  background-color: rgba(162, 59, 114, 0.3);
  color: #202020;
}